USER_NAME=json1

COMPOSE_PROJECT_NAME=redditapp
COMMENT_VER=latest

MONGODB_EXPORTER_VER=latest
MONGO_VER=3.2

BLACKBOX_EXPORTER_VER=latest
PROMETHEUS_VER=latest

UI_VER=latest
UI_HOSTPORT=9292
UI_CONTAINERPORT=9292

POST_VER=latest
NODE_EXPORTER_VER=latest

SRC_PATH=~/otus/otusdevops/ugaidmitry_microservices/src
